html[data-theme="dark"] {
  --bg: #121212;
  --fg: #e1e1e1;
  --muted: #a0a0a0;
  --card: #1e1e1e;
  --border: #424242;
  --topbar-bg: #000000;
  --shadow: 0 4px 18px rgba(0, 0, 0, .4);
}

/* FUNDO DA SIDEBAR PARA O TEMA ESCURO */
html[data-theme="dark"] #sidebar {
  background-color: rgba(30, 30, 30, 0.75);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

/* EFEITO DE VIDRO PARA CARDS E MODAIS NO TEMA ESCURO */
html[data-theme="dark"] .card {
  background-color: rgba(30, 30, 30, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
html[data-theme="dark"] .modal {
  /* O MODAL FICA SÓ COM O BACKGROUND-COLOR NORMAL, O EFEITO DE VIDRO ESTÁ NO BACKDROP */
  background-color: var(--card);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
html[data-theme="dark"] .home-card {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* NOVA REGRA PARA O FUNDO DO FIELDSET NO PASSO 2 */
html[data-theme="dark"] .regras-fieldset {
    background-color: rgba(0,0,0,0.2);
}

html[data-theme="dark"] .tab-btn.active .tab-icon {
    background-color: var(--brand-2);
}

html[data-theme="dark"] input.invalid,
html[data-theme="dark"] select.invalid {
  border-color: #f87171;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.3);
}

html[data-theme="dark"] input:focus,
html[data-theme="dark"] select:focus {
    border-color: var(--brand);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.4);
}

html[data-theme="dark"] button {
    background-color: #333333;
    color: var(--fg);
}

html[data-theme="dark"] .tab-btn {
    background-color: transparent;
}


html[data-theme="dark"] button.secondary {
    background: #525252;
    color: var(--fg);
}

html[data-theme="dark"] .table thead th {
    background: #333333;
}

html[data-theme="dark"] .table .group-header.warning {
    background-color: #4a420c;
    color: #fef9c3;
}

html[data-theme="dark"] .check-inline:not(:has(input:checked)):hover {
    background-color: #333333;
}

html[data-theme="dark"] .check-inline:has(input:checked) {
  border-color: #60a5fa;
  background-color: var(--brand-2);
  color: var(--fg);
}