@media (max-width: 1440px) {
    .container {
        max-width: 95%;
    }

    .animated-brand-text {
        font-size: 2.0rem; /* Reduzido */
    }
    .welcome-title {
        font-size: 2.25rem;
    }
    .welcome-subtitle {
        font-size: 1.125rem;
    }
    input, select, button, label {
        font-size: .95rem;
    }
    .info-icon {
        font-size: .8rem;
    }
    .info-icon::after {
        font-size: .85rem;
    }
    .list .muted {
        font-size: .9rem;
    }
    .check-inline {
        font-size: .9rem;
    }
}

@media (max-width: 992px) {
    .grid-3-col {
        grid-template-columns: 1fr; /* Transforma em 1 coluna em telas menores */
    }
}